<#@ import namespace="Newtonsoft.Json" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="DesignTimeSample" #>
<#@ output extension=".json" #>

[<#
var people = Enumerable.Range(0, 5).Select(num =>
    new Person
    {
        Name = "Mr " + num,
        Age = num + 20
    }
);
foreach (var p in people)
{
#>
<#=JsonConvert.SerializeObject(p)#>,
<#
}
#>
]